pkgbase = ros-noetic-genpy
	pkgdesc = ROS - Python ROS message and service generators.
	pkgver = 0.6.16
	pkgrel = 1
	url = https://wiki.ros.org/genpy
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-genmsg
	makedepends = ros-noetic-catkin
	depends = ros-noetic-genmsg
	depends = python-yaml
	source = ros-noetic-genpy-0.6.16.tar.gz::https://github.com/ros/genpy/archive/f70658f2200dfb7c98e99e9cf15be61cfaa1a432.tar.gz
	sha256sums = c3c38ef5dcdbcf0482d377c60f87d60ef04f977ad4954a8a43ae4685a250aa0a

pkgname = ros-noetic-genpy
